/*FONT*/
@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap'); 
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css');


/* CSS */
@import url('header.css');
@import url('main.css');
@import url('footer.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Monda", sans-serif;
}

.wrapper {
    width: 100%;
}
