@{
    ViewData["Title"] = "Благодаря | Verdi Beach";
}

<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/assets/css/app.css" />
</head>
<body>
<div class="wrapper">
    <div class="thankyou-container">
        <div class="thankyou-title">Благодаря, че резервирахте!</div>
        <div>Ще се свържем с вас при нужда за потвърждение.</div>
        <div class="thankyou-check">
            <i class="fa-solid fa-check"></i>
        </div>
    </div>
</div>
</body> 
</html>