<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verdi Beach - Ресторант на плажа</title>
    <link rel="icon" type="image/x-icon" href="~/assets/img/favicon.ico" />
    <link rel="stylesheet" href="~/assets/css/app.css" />
    <script src="~/assets/js/app.js" defer></script>
</head>
<body>
<div class="wrapper">
    <section class="hero">
        <article class="hero-content">
            <h1>Добре дошли във Verdi Beach</h1>
            <p>Насладете се на слънцето, пясъка и вкусната храна.</p>
            <a asp-action="Menu" asp-controller="Home" class="hero-btn">Виж Меню</a>
            <a asp-action="Index" asp-controller="Reservation" class="hero-btn">Резервирайте сега</a>
        </article>
    </section>
</div>
</body>
</html>